h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
/*
###########################
#        COMPONENTS       #
###########################
*/

.c-arno-background {
  background-image: url('../assets/Screenshot_2.png');
}

/*
###########################
#        UTILITIES        #
###########################
*/

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.u-overflow-hidden {
  overflow-y: hidden;
}