body {
  display: inline;
  color: white;
  background-image: url('assets/Screenshot_2.png');
  }
h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.u-overflow-hidden {
  overflow-y: hidden;
}